/*
JG: no se me aplican las fuentes de la carpeta de "fonts"
@font-face {
    font-family:"Poppins";
    src: url(fonts/poppins.zip);
}
*/

:root {
    --primary-color: #506690;
    --secondary-color: #f0f0f0;
    --text-color: #515151;
    --accent-color: #45709B;
    --dark-accent: #40506b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

header {
    padding: 1rem;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
    font-size: 8px;
    text-align: center;
    color: #FFF;
}

.btn{
    text-decoration: none;
}

@media (max-width: 768px) {
    #redirect {
        width: 50%;
        text-align: center;
    }
}